{% extends 'todo/base.html' %}

{% block head %}
<title>Sign Up</title>
{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
        <div class="col-md-5">
            <h2>Sign Up</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                {% for f in form %}
                    <p>
                        <label class="form-label" for="{{ f.id_for_lavel }}"> {{ f.label }}: </label>
                        {{ f }}
                    </p>
                    <div class="form-error">
                        {{ f.errors }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <hr>
            <div class="text-center">
                Do you already have an account? <a href="{% url 'login_user' %}">Login here</a>
            </div>
        </div>
    </div>
{% endblock %}